*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img{
  display: inline-block;
  max-width: 100%;
}

.slide-wrapper_holder {
  display: flex;
  overflow: hidden;
}

.slider-wrapper--item{
  width: 80vw;
  max-width: 800px;
  flex-shrink: 0;
  margin: 0 20px;
}